:root {
    --vp-c-brand-1: #5086a1;
}

:root {
    scroll-behavior: smooth;
}

:root {
    /** 主题颜色 */
    --vp-c-brand-1: #5086a1;
    --vp-c-brand-2: #6aa1b7;
    --vp-c-brand-3: #8cccd5;
    --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  
   /** 背景颜色 */
    --vp-c-bg: #ffffff;
    --vp-c-bg-alt: #f6f6f7;
    --vp-c-bg-elv: #ffffff;
    --vp-c-bg-soft: #f6f6f7;
  
    /** 文本颜色 */
    --vp-c-text-1: rgba(60, 60, 67);
    --vp-c-text-2: rgba(60, 60, 67, 0.78);
    --vp-c-text-3: rgba(60, 60, 67, 0.56);
  }
  
  [data-theme="dark"] {
    --vp-c-brand-1: #8cccd5;
    --vp-c-brand-2: #6aa1b7;
    --vp-c-brand-3: #5086a1;
    --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  
    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
  
    --vp-c-text-1: rgba(255, 255, 245, 0.86);
    --vp-c-text-2: rgba(235, 235, 245, 0.6);
    --vp-c-text-3: rgba(235, 235, 245, 0.38);
}

/* 自定义鼠标样式 */
#aside-content .card-widget .card-info-social-icons,
#bber>section>ul>li>div .bber-info-from,
#bber>section>ul>li>div .bber-info-time,
html {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/alternate.png) 16 16, auto !important
}

#article-container .highlight-tools .copy-button,
#aside-content .aside-list>.aside-list-item,
#aside-content .card-info #author-info__sayhi,
#aside-content .card-widget#card-wechat,
#recent-posts .recent-post-item,
#recent-posts>.recent-post-item>.recent-post-info,
#rightMenu .rightMenu-group .rightMenu-item,
#twikoo .tk-comments .OwO .OwO-body,
.OwO .OwO-body .OwO-bar .OwO-packages li,
.OwO .OwO-body .OwO-items .OwO-item,
.article-categories-original,
.bber-reply,
.card-author,
.card-title,
.category-bar-next,
.code-expand-btn,
.comment-barrage-item .barrageContent,
.el-input__inner,
.modal-article-date,
.nav-button,
.pagination span,
.reward-button,
.share-link .share-button,
.title,
.tk-avatar-img,
.tk-comments-title span,
.tk-expand,
.tk-submit-action-icon,
.topGroup .banner-button,
.topGroup .recent-post-item,
a,
a span,
button,
i.bber-logo,
img,
input,
summary {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/link.png) 16 16, pointer !important
}

#toPageText,
.local-search-box--input,
h2,
label,
p,
span,
textarea,
time {
    cursor: url(https://cdn.npmmirror.com/packages/pixpro/1.7.6/files/static/images/text.png) 16 16, text !important
}


/* ========================twikoo美化====================== */
/* 隐藏评论者头像 
#twikoo .tk-comments .tk-submit .tk-avatar.tk-has-avatar {
    display: none;
}*/

/* 下面表情和按钮那一栏的设置 */
#twikoo .tk-comments .tk-submit .tk-row.actions{
    margin-bottom: 0;
    margin-left: 0;
}

/* 个人信息和文本输入之间的空位置 */
.tk-main .tk-submit .tk-col .tk-meta-input,
#twikoo .tk-comments .tk-submit .tk-col .tk-meta-input{
    margin-bottom: 16px;
}

/* 直接固定高度，解决提交按钮有时高度不起作用的问题 */
.tk-row.actions button.el-button {
    height: 32px;
}

/* 解决图片大小超出范围问题 */
.tk-main .tk-content img {
  max-width: 100%;
  height: auto;
}

/* 圆角设置 */
.tk-meta-input input {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tk-meta-input div {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* 输入框样式 */
.tk-input.el-textarea textarea {
    border-radius: 12px;
    min-height: 150px !important;
    height: auto;
}

/* 宽度太窄的时候去掉预览按钮 */
@media screen and (max-width:420px) {
    .tk-main .tk-submit .tk-row.actions button.el-button.tk-preview.el-button--default.el-button--small{
        display: none;
    }
}

:root {
  --liushen-radius: 12px;
  --liushen-card-border-width: 1px;
}

/* 浅色模式颜色 */
[data-theme=light] {
  --liushen-border-color: #e3e8f7;
  --liushen-card-bg: #fff;
  --liushen-card-border: #e3e8f7;
  --style-border-always: 1px solid var(--liushen-card-border);
  --liushen-blue: #425AEF;
}

/* 深色模式颜色 */
[data-theme=dark] {
  --liushen-border-color: #42444a;
  --liushen-card-bg: #2c2c2c;
  --liushen-card-border: #42444a;
  --style-border-always: 1px solid var(--liushen-card-border);
  --liushen-blue: #0084FF;
}

/* 评论区评论大框 */
.twikoo .tk-comments-container>.tk-comment,
.twikoo .tk-comments .tk-submit {
  /* 内边距 */
  padding: 20px;
  margin-top: 2rem;  /* 增加上边距 */
  margin-bottom: 20px;
  /* 圆角 */
  border-radius: var(--liushen-radius);
  /* 背景颜色 */
  background: var(--liushen-card-bg);
  /* 变动动画时长 */
  transition: .3s;
}

/* 浅色模式评论区评论大框 */
[data-theme=light] 
.twikoo .tk-comments-container>.tk-comment,
.twikoo .tk-comments .tk-submit {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式评论区评论大框阴影悬浮加深 */
[data-theme=light] 
.twikoo .tk-comments-container>.tk-comment:hover,
.twikoo .tk-comments .tk-submit:hover {
  /* 阴影（浅色模式突出层次感） */
  box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式评论区评论大框 */
[data-theme=dark] 
.twikoo .tk-comments-container>.tk-comment,
.twikoo .tk-comments .tk-submit {
  /* 边框样式 */
  border-style: solid;
  /* 边框宽度 */
  border-width: var(--liushen-card-border-width);
  /* 边框颜色 */
  border-color: var(--liushen-card-border);
}

/* 设备信息 */
.twikoo .tk-extra {
  /* 圆角 */
  border-radius: var(--liushen-radius);
  /* 背景颜色 */
  background: var(--liushen-card-bg);
  /* 内边距 */
  padding: 0.4rem;
  /* 底边距 */
  margin-bottom: 1rem;
  /* 变动动画时长 */
  transition: .3s;
}

/* 浅色模式设备信息 */
[data-theme=light] .twikoo .tk-extra {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式设备信息阴影悬浮加深 */
[data-theme=light] .twikoo .tk-extra:hover {
  /* 阴影 */
  box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式设备信息 */
[data-theme=dark] .twikoo .tk-extra {
  /* 边框样式 */
  border-style: solid;
  /* 边框宽度 */
  border-width: var(--liushen-card-border-width);
  /* 边框颜色 */
  border-color: var(--liushen-card-border);
}

/* 加载更多按钮 */
.twikoo .tk-expand {
  /* 圆角 */
  border-radius: var(--liushen-radius);
}

/* 浅色模式加载更多按钮 */
[data-theme=light] .twikoo .tk-expand {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式加载更多按钮（鼠标悬浮时） */
[data-theme=light] .twikoo .tk-expand:hover {
  /* 阴影 */
  box-shadow: var(--card-hover-box-shadow);
  /* 背景颜色 */
  background-color: var(--btn-bg);
}

/* 黑暗模式加载更多按钮（鼠标悬浮时） */
[data-theme=dark] .twikoo .tk-expand:hover {
  /* 背景颜色 */
  background-color: var(--liushen-blue);
}

/* 黑暗模式加载更多按钮 */
[data-theme=dark] .twikoo .tk-expand {
  /* 边框样式 */
  border-style: solid;
  /* 边框宽度 */
  border-width: var(--liushen-card-border-width);
  /* 边框颜色 */
  border-color: var(--liushen-card-border);
}

/* 分类卡片移动端个人信息卡片只显示两个 */
@media screen and (max-width:570px) {
    .tk-main .tk-extras {
        display: none;
    }
}

/* 评论区按钮样式 */
.tk-row.actions button.el-button {
    border-radius: 12px !important;
}

/* 由于twikoo内部函数不宜修改，为了合适，去掉弹窗中的刷新按钮，该部分不需要，这是为了适配右键回复弹窗的内容的
#popup #twikoo .tk-comments .tk-comments-container .tk-comments-title > span:nth-child(2) > span:nth-child(1) {
	display: none;
} */

/* 评论框背景图片优化 */
.twikoo .el-input__inner,
.twikoo .el-textarea__inner {
    transition: background-position-y 0.3s ease-in-out 0s !important;
}

.twikoo .el-input__inner:focus,
.twikoo .el-textarea__inner:focus {
    background-position-y: 350px;
}

.tk-input .el-textarea__inner {
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain
}
/* ========================twikoo美化====================== */